<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="app">
      

      Title: <input v-model="newTitle" size="50" placeholder="Enter Title" /><br />
      URL:
      <input
        v-model="newUrl"
        size="50"
        placeholder="Enter URL"
      /><br />
      <button @click="addVideo">Add video!</button> <br />
      <br />
      <h1>Videos</h1><br />
      <span v-for="video in videos">
        <iframe
          :src="video.url"
          width="450"
          height="300"
          v-if="video.show"
        ></iframe
        ><br />
		    {{video.title}}</br>
        <button v-if="video.show" @click="video.show=false">Hide</button>
        <button v-if="!video.show" @click="video.show=true">Show</button> 
		    <button @click="deleteVideo(video)">Delete</button>
        <br />
      </span>
      <! -- Exercise: 
         Only show the hide button when the video is shown.
	       Only show the show button when the video is hidden.
      -->
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="./main.js"></script>
    <script></script>
  </body>
</html>
